<div class="topbar">
    <nav class="navbar-custom">
        <div class="topbar-left">
            <a href="~/Admin/Index" class="logo">
                <span><img src="~/assets/images/logo-sm.png" alt="logo-small" class="logo-sm"></span>
                <span><img src="~/assets/images/logo-dark.png" alt="logo-large" class="logo-lg"></span>
            </a>
        </div>
        <ul class="list-unstyled topbar-nav float-right mb-0">
            <!-- Notification and user dropdowns -->
            <li class="dropdown">
                <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <i class="mdi mdi-bell-outline nav-icon"></i>
                    <span class="badge badge-danger badge-pill noti-icon-badge">2</span>
                </a>
                <!-- Notifications -->
            </li>
            <li class="dropdown">
                <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <img src="~/assets/images/users/user-1.jpg" alt="profile-user" class="rounded-circle" />
                </a>
                <!-- User options dropdown -->
            </li>
        </ul>
    </nav>
</div>
